<article class="index">
    <div class="categories">
        <ul class="lista_categorias">
            <li>
                <div class="electronica">
                    <img class="svg" src="/img/tablet-cellphone.svg" alt="cagó" />
                    <p>Electrónica</p>
                </div>
            </li>
            <div class="line1"></div>
            <li>
                <div class="alimentos">
                    <img src="/img/hamburger.svg" alt="cagó" />
                    <p>Alimentos</p>
                </div>
            </li>
            <div class="line2"></div>
            <li>
                <div class="bebidas">
                    <img src="/img/glass-mug-variant.svg" alt="cagó" />
                    <p>Bebidas</p>
                </div>
            </li>
            <div class="line3"></div>
            <li>
                <div class="indumentaria">
                    <img src="/img/tshirt-crew.svg" alt="cagó" />
                    <p>Indumentaria</p>
                </div>
            </li>
            <div class="line4"></div>
            <li>
                <div class="juegos">
                    <img src="/img/controller-classic.svg" alt="cagó" />
                    <p>Juegos</p>
                </div>
            </li>
            <div class="line5"></div>
            <li>
                <div class="automotor">
                    <img src="/img/steering.svg" alt="cagó" />
                    <p>Automotor</p>
                </div>
            </li>
            <div class="line6"></div>
            <li>
                <div class="hogar">
                    <img src="/img/sofa-single.svg" alt="cagó" />
                    <p>Hogar</p>
                </div>
            </li>
            <div class="line7"></div>
            <li>
                <div class="otros">
                    <img src="/img/gift-outline.svg" alt="cagó" />
                    <p>Otros</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="hero"></div>
    <div class="intereses">
        <section>
            <div>
                <h1></h1>
            </div>
        </section>
    </div>
    <div class="mas_pedidos">
        <section>
            <div>
                <h1></h1>
            </div>
        </section>
    </div>
</article>