<article class="coca">
  <img class="coca1" src="/img/images (1).jpeg" />
  <p class="titulop">Coca Cola Lata 220mL Pack Original x8</p>
  <div class="line"></div>
  <p class="puntosc"><strong>760</strong></p>
  <p class="puntosp">PUNTOS</p>
</article>
<article class="miss1">
  <img class="coca1" src="/img/chess.png" />
  <p class="titulop">NOMBRE DEL PRODUCTO O SERVICIO</p>
  <div class="line"></div>
  <p class="puntosc"><strong>XX.XXX</strong></p>
  <p class="puntosp">PUNTOS</p>
</article>
<article class="miss2">
  <img class="coca1" src="/img/chess.png" />
  <p class="titulop">NOMBRE DEL PRODUCTO O SERVICIO</p>
  <div class="line"></div>
  <p class="puntosc"><strong>XX.XXX</strong></p>
  <p class="puntosp">PUNTOS</p>
</article>
<article class="miss3">
  <img class="coca1" src="/img/chess.png" />
  <p class="titulop">NOMBRE DEL PRODUCTO O SERVICIO</p>
  <div class="line"></div>
  <p class="puntosc"><strong>XX.XXX</strong></p>
  <p class="puntosp">PUNTOS</p>
</article>
