<a href="/"> <img class="logo" src="/img/MiEcommerce.png" alt="" /></a>
<div id="search-bar">
    <input class="search" type="text" name="" id="" placeholder="Buscar productos...." />
    <img id="img-search" src="/img/magnify.svg" />
</div>

<div class="img-olivia">
    <a href="/cart">
        <img id="carrito" src="/img/cart-plus.svg" alt="Carrito mamalon" /></a>
    <button class="olivia">Olivia</button>
    <img class="olivia-img" />
</div>